/* Default styles for mobile devices */

/* Side Bar */

#price-sort {
  width: 15rem;
}

.side-bar {
  height: 37.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid silver;
  border-style: none solid none none;
}

.first-div {
  display: flex;
  justify-content: space-evenly;
  width: 15rem;
}

.second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
}

.third-div {
  width: 15rem;
  width: 15rem;
}

.fourth-div {
  width: 15rem;
}

.fifth-div {
  width: 15rem;
}

.filter-div {
  display: flex;
  flex-direction: column;
}

.filter-checkbox {
  width: 15px;
}

.price-filter-tag {
  width: 10.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-btn {
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.main-bar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
  justify-items: center;
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  /* Side Bar */

  /* Side Bar */

  .side-bar {
    height: 38.5rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid silver;
    border-style: none solid none none;
    position: fixed;
  }

  .first-div {
    display: flex;
    justify-content: space-between;
    width: 12rem;
  }

  .second-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
  }

  .price-filter-tag {
    width: 10.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .third-div {
    width: 12rem;
  }

  .fourth-div {
    width: 12rem;
  }

  .filter-div {
    display: flex;
    flex-direction: column;
  }

  .filter-checkbox {
    width: 15px;
  }
  .mainbar {
    border: 2px solid blue;
    height: 100%;
    width: 70%;
  }

  .product-listing {
    display: flex;
    flex-direction: row;
  }

  .clear-btn {
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }

  /* main bar  */
  .main-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    cursor: pointer;
    justify-items: center;
    margin-left: 289px;
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  .product-listing {
    display: flex;
    flex-direction: row;
  }

  .clear-btn {
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }

  /* Side Bar */

  .side-bar {
    height: 38.5rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid silver;
    border-style: none solid none none;
    position: fixed;
  }

  .first-div {
    display: flex;
    justify-content: space-between;
    width: 15rem;
  }

  .second-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
  }

  .third-div {
    width: 15rem;
  }

  .fourth-div {
    width: 15rem;
  }

  .fifth-div {
    width: 15rem;
  }

  .filter-div {
    display: flex;
    flex-direction: column;
  }

  .filter-checkbox {
    width: 15px;
  }

  /* Main bar  */

  .main-bar {
    width: 80%;
    display: grid;
    grid: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    cursor: pointer;
    justify-items: center;
    margin-left: 289px;
  }
}
