/* Default styles for mobile devices */
.wishlist-div {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
  
  /* Styles for tablets (portrait) and up */
  @media (min-width: 768px) {
    .wishlist-div {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
  }
  
  /* Styles for laptops and up */
  @media screen and (min-width: 1024px) {
    .wishlist-div {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
  }